.Branches {
  padding: 20px;
  padding-bottom: 40px;

  .container {
    .title {
      text-align: center;
    }
    .cards {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap;
      .card {
        width: 32%;
        box-shadow: 0 0 10px #0000001a;
        border-radius: 15px;
        padding: 30px;
        transition: all 0.3s ease;
        &-title {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 10px;
          text-align: center;
        }
        .flex-center {
          margin-top: 20px;
          .button-primary {
            height: 30px;
            min-width: 120px;
            font-size: 16px;
          }
        }
        .list {
          .item {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 1.4;
            .anticon {
              color: $secondary-color;
              margin-right: 10px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &:hover {
          box-shadow: 0 0 15px #00000059;
        }
      }
    }
    &-two {
      margin-top: 60px;
      .sub-title {
        text-align: center;
        margin-bottom: 60px;
      }
      .swiper-slide {
        display: flex;
        justify-content: center;
      }
      .swiper-pagination {
        // bottom: -5px;
      }

      .swiper-button-prev,
      .swiper-button-next {
        color: #fff;
        background: rgba(155, 155, 155, 0.5);
        padding: 10px 15px;
        border-radius: 4px;
        width: auto;
        height: auto;

        &::after {
          font-size: 20px;
        }

        &:hover {
          background: rgba(121, 121, 121, 0.733);
        }
      }

      // Estilos para paginación
      .swiper-pagination {
        // bottom: 20px;
      }

      .swiper-pagination-bullet {
        background: rgba(122, 147, 255, 0.5);
        opacity: 1;
        width: 12px;
        height: 12px;

        &.swiper-pagination-bullet-active {
          background: $primary-color;
          // border: 1px solid #fff;
        }
      }

      .swiper {
        padding-bottom: 40px;
      }
      .process {
        width: 80%;
        max-width: 400px;
        border-radius: 20px;
        height: 300px;
        margin: 0 auto;
      }
      .flex-around {
        .col {
          width: 40%;
        }
      }
    }
  }
  @media (max-width: 800px) {
    .container {
      .cards {
        .card {
          width: 100%;
        }
      }
      .flex-around {
        gap: 20px;
      }
      &-two {
        .flex-around {
          flex-direction: column;
          align-items: center;
          .col {
            width: 100%;
            .process {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
