.Branches {
  padding: 20px;
  padding-bottom: 40px;

  .container {
    .title {
      text-align: center;
    }
    .cards {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-top: 30px;
      flex-wrap: wrap;
      .card {
        width: 32%;
        box-shadow: 0 0 10px #0000001a;
        border-radius: 15px;
        padding: 30px;
        transition: all 0.3s ease;
        &-title {
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 10px;
          text-align: center;
        }
        .flex-center {
          margin-top: 20px;
          .button-primary {
            height: 30px;
            min-width: 120px;
            font-size: 16px;
          }
        }
        .list {
          .item {
            margin-bottom: 8px;
            font-size: 16px;
            line-height: 1.4;
            .anticon {
              color: $secondary-color;
              margin-right: 10px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        &:hover {
          box-shadow: 0 0 15px #00000059;
        }
      }
    }
    &-two {
      margin-top: 40px;
      .sub-title {
        text-align: center;
        margin-bottom: 20px;
      }
      .flex-around {
        .col {
          width: 40%;
          .process {
            width: 90%;
            height: auto;
            border-radius: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    .container {
      .cards {
        .card {
          width: 100%;
        }
      }
      .flex-around {
        gap: 20px;
      }
      &-two {
        .flex-around {
          flex-direction: column;
          align-items: center;
          .col {
            width: 100%;
            .process {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
