@import "../../components/organisms/Banner/Banner.scss";
@import "../../components/organisms/About/About.scss";
@import "../../components/organisms/branches/Branches.scss";
@import "../../components/organisms/Questions/Questions.scss";
@import "../../components/organisms/footer/Footer.scss";
@import "../../pages/About/About.scss";
@import "../../pages/Contact/Contact.scss";
