.Banner {
  width: 100%;
  height: 600px;

  .banner-swiper {
    width: 100%;
    height: 100%;
    --swiper-theme-color: #fff;
  }

  .swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Estilos para navegación
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    background: rgba(155, 155, 155, 0.5);
    padding: 10px 15px;
    border-radius: 4px;
    width: auto;
    height: auto;

    &::after {
      font-size: 20px;
    }

    &:hover {
      background: rgba(121, 121, 121, 0.733);
    }
  }

  // Estilos para paginación
  .swiper-pagination {
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    background: rgba(122, 147, 255, 0.5);
    opacity: 1;
    width: 12px;
    height: 12px;

    &.swiper-pagination-bullet-active {
      background: $primary-color;
      // border: 1px solid #fff;
    }
  }
}
