.Banner {
  width: 100%;
  height: 600px;

  .banner-swiper {
    width: 100%;
    height: 100%;
    --swiper-theme-color: #fff;
  }
  .banner-slide {
    &-1 {
      // padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 50px;
        margin-top: 40px;
        font-weight: bold;
        color: $secondary-color;
        text-align: center;
      }
      p {
        font-size: 34px;
        color: $secondary-color;
      }
    }
    &-2 {
      // padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h1 {
        padding-right: 60px;
        font-size: 50px;
        margin-top: 80px;
        font-weight: bold;
        color: $primary-color;
        text-align: right;
      }
      p {
        padding-right: 60px;
        font-size: 34px;
        color: $primary-color;
      }
      .flex-button {
        bottom: 80px;
      }
    }
    &-3 {
      // padding: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        padding-right: 60px;
        font-size: 60px;
        margin-top: 80px;
        font-weight: bold;
        color: $secondary-color;
        text-align: center;
        max-width: 900px;
      }
      p {
        padding-right: 60px;
        font-size: 34px;
        color: $secondary-color;
      }
      .flex-button {
        bottom: 80px;
      }
    }
    @media (min-width: 1400px) {
      &-1 {
        justify-content: flex-start;
        align-items: flex-start;
        h1 {
          text-align: left;
          padding-left: 60px;
        }
        p {
          padding-left: 60px;
          font-size: 40px;
        }
      }
      &-2 {
        margin-top: 0;
      }
      &-3 {
      }
    }
    @media (max-width: 800px) {
      &-1 {
        h1 {
          font-size: 30px;
          margin-top: 30px;
        }
        p {
          font-size: 20px;
        }
      }
      &-2 {
        display: flex;
        align-items: center;
        background-position: right !important;
        h1 {
          font-size: 30px;
          margin-top: 60px;
          padding: 0;
          text-align: center;
        }
        p {
          font-size: 20px;
          text-align: center;
          padding: 0;
        }
      }
      &-3 {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
          font-size: 30px;
          margin-top: 0px;
          padding: 0;
        }
        p {
          font-size: 20px;
          padding: 0;
          max-width: 300px;
          text-align: center;
        }
      }
    }
  }
  .back {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
  }

  .swiper-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100% !important;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // Estilos para navegación
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
    background: rgba(155, 155, 155, 0.5);
    padding: 10px 15px;
    border-radius: 4px;
    width: auto;
    height: auto;

    &::after {
      font-size: 20px;
    }

    &:hover {
      background: rgba(121, 121, 121, 0.733);
    }
  }

  // Estilos para paginación
  .swiper-pagination {
    bottom: 20px;
  }

  .swiper-pagination-bullet {
    background: rgba(122, 147, 255, 0.5);
    opacity: 1;
    width: 12px;
    height: 12px;

    &.swiper-pagination-bullet-active {
      background: $primary-color;
      // border: 1px solid #fff;
    }
  }
  @media (max-width: 800px) {
    height: 400px;
  }
}
