.About {
  padding: 20px;

  .container {
    padding: 30px 0;
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .column {
      width: 48%;
      .process {
        width: 90%;
        height: auto;
      }
    }
    .why {
      margin-top: 50px;
      .title {
        text-align: center;
      }
      .flex-reason {
        display: flex;
        gap: 20px;
        justify-content: space-between;
      }
      .reason {
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 32%;
        box-shadow: 0 0 10px #0000001a;
        border-radius: 20px;
        padding: 40px 20px;
        gap: 20px;
        transition: all 0.3s ease;
        .circle {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          background-color: #8385fa67;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .icon {
          width: 60px;
          color: $primary-color;
        }
        .text {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 600;
        }
        &:hover {
          box-shadow: 0 0 15px #00000059;
        }
      }
      .flex-center {
        margin-top: 30px;
      }
    }
  }
  @media (max-width: 800px) {
    .container {
      .flex {
        flex-direction: column;
        gap: 30px;
      }
      .column {
        width: 100%;
        .process {
          width: 100%;
        }
      }
      .why {
        .flex-reason {
          flex-direction: column;
          align-items: center;
        }
        .reason {
          width: 80%;
        }
      }
    }
  }
}
