.button {
  &-primary {
    background-color: #ca2e0d !important;
    border-color: #ca2e0d !important;
    color: #ffffff !important;
    height: 50px;
    min-width: 150px;
    font-size: 18px;
    span {
      transition: all 0.3s ease;
    }
    &:hover {
      box-shadow: 0 0 15px #0000004f;

      span {
        scale: 1.04;
      }
    }
  }
  &-secondary {
  }
  &-tertiary {
  }
  &-transparent {
    height: auto;
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }
}
a.button.button-primary {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  gap: 10px;
  text-decoration: none;
}
a.button.button-primary.small {
  padding: 17px;
  height: 30px;
}

a.button.button-gray {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  gap: 10px;
  text-decoration: none;
  background-color: #4a4a4a !important;
  border-color: #4a4a4a !important;
  color: #ffffff !important;
  font-size: 28px;
}
.button-banner {
  padding: 30px !important;
  font-size: 28px !important;
}
.flex-button {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 200px;
}

@media (max-width: 800px) {
  a.button.button-gray {
    padding: 20px !important;
    font-size: 17px !important;
  }
  .button-banner {
    padding: 20px !important;
    font-size: 15px !important;
  }
  .flex-button {
    bottom: 100px;
    gap: 20px;
  }
}
